<?xml version="1.0" encoding="utf-8"?>
<!-- @(#) $Id$ -->
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN" "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd">
<sect1 xmlns:xi="http://www.w3.org/2001/XInclude" id="settings">
  <title>Настройки</title>
  <para>Функции модулей в Gwyddion запоминают значения параметров между вызовами и между сеансами работы с программой. Место хранения этих параметров называется настройками. Настройки также содержат некоторое количество параметров, относящихся к основной программе.</para>
  <para>Постоянным хранилищем настроек является файл <filename>settings</filename> в каталоге пользователя, что обычно означает каталог <filename>~/.gwyddion</filename> (в Unix) или <filename>Documents and Settings\gwyddion</filename> (в MS Windows). Этот файл читается только при старте программы и записывается при завершении её работы. Следует иметь это в виду если вы собираетесь исправить что-то в нём вручную. Неизвестные настройки в этом файле игнорируются, но сохраняются.</para>
  <para>Файл настроек начинается с магической строки заголовка <informalexample><programlisting>Gwyddion Settings 1.0</programlisting></informalexample> за которой следуют строки с отдельными параметрами и значениями (которые формируют, технически, переведённый в последовательный вид <type>GwyContainer</type>). Gwyddion записывает элементы в алфавитном порядке, но это не является обязательным требованием и вам не нужно сохранять этот порядок при модификации файла.</para>
  <para>Каждая строка параметров записывается в форме <informalexample><programlisting>"<replaceable>key</replaceable>" <replaceable>type</replaceable> <replaceable>value</replaceable></programlisting></informalexample> Типичные ключи настроек модуля начинаются с <literal>/module/<replaceable>modulename</replaceable></literal>, хотя в некоторых случаях часть имени модуля не является по сути именем, либо потому что несколько модулей разделяют общие настройки, либо по причинам исторического характера. Ключи настройки самой программы начинаются с <literal>/app/</literal>. Все возможные типы значений перечислены в следующей таблице.</para>
  <para>
    <informaltable id="table-settings-types">
      <tgroup cols="2" align="left">
        <?dblatex lX?>
        <thead>
          <row>
            <entry>Тип</entry>
            <entry>Описание</entry>
          </row>
        </thead>
        <tbody>
          <row>
            <entry>boolean</entry>
            <entry>Логическое значение, может быть либо <literal>True</literal>, либо <literal>False</literal>.</entry>
          </row>
          <row>
            <entry>char</entry>
            <entry>Один символ. Обычные символы представлены напрямую одним символом. Специальные символы представлены в шестнадцатеричной нотации как <literal>0x<replaceable>XX</replaceable></literal>. Этот тип параметров практически не используется в модулях.</entry>
          </row>
          <row>
            <entry>int32</entry>
            <entry>32битное целое со знаком. Gwyddion записывает их в десятичной нотации, но читает также другие виды, например, шестнадцатеричную.</entry>
          </row>
          <row>
            <entry>int64</entry>
            <entry>64битное целое со знаком. Gwyddion записывает их в десятичной нотации, но читает также другие виды, например, шестнадцатеричную.</entry>
          </row>
          <row>
            <entry>double</entry>
            <entry>Число с плавающей точкой. Может быть в научном представлении, т.е. <literal>1.23e-4</literal>. Они представлены в стандартной локали C/POSIX, т.е. десятичным разделителем является точка (а не запятая или что-нибудь другое).</entry>
          </row>
          <row>
            <entry>string</entry>
            <entry>Строка символов в двойных кавычках, в общем случае в кодировке UTF-8. Специальные символы, включая вложенные двойные кавычки, экранируются используя стандартную нотацию с обратной чертой.</entry>
          </row>
        </tbody>
      </tgroup>
    </informaltable>
  </para>
  <para>Некоторые потенциально полезные общепрограммные настройки, которые можно изменить в файле настроек:</para>
  <para>
    <informaltable id="table-settings-keys">
      <tgroup cols="3" align="left">
        <?dblatex llX?>
        <thead>
          <row>
            <entry>Ключ</entry>
            <entry>Тип</entry>
            <entry>Описание</entry>
          </row>
        </thead>
        <tbody>
          <row>
            <entry>/app/restore-tool-position</entry>
            <entry>boolean</entry>
            <entry>Если установлено в <literal>True</literal>, Gwyddion восстанавливает не только размеры диалогов инструментов, но и их размещение на экране (если это получается). Для хороших оконных менеджеров это скорей раздражает, чем помогает, но в MS Windows может оказаться полезным включить эту настройку.</entry>
          </row>
          <row>
            <entry>/app/3d/axes/disable</entry>
            <entry>boolean</entry>
            <entry>Если установлено в <literal>True</literal>, подписи осей не будут рисоваться в <link linkend="opengl-3d-view">окнах трёхмерного просмотра OpenGL</link>, даже если они включены. Это может помочь с некоторыми проблемными комбинациями видеодрайвера/видеокарты/GtkGLExt, с которыми Gwyddion падает при попытке отрисовки этих осей.</entry>
          </row>
        </tbody>
      </tgroup>
    </informaltable>
  </para>
</sect1>
<!-- vim: set ts=2 sw=2 et : -->
