body {
  margin: 0px 18px;
  padding: 0px;
  background-color: white;
  color: black;
}
@media screen {
  div.navheader, div.navfooter {
    background-color: #f6cd7a;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0px -18px;
  }
  div.navheader { border-bottom: 1px solid #ab2f11; }
  div.navfooter { border-top: 1px solid #ab2f11; margin-top: 12px; }
}
@media print {
  div.navheader, div.navfooter {
    visibility: collapse; display: none;
  }
}
.math { font-style: italic; }
a { text-decoration: underline; }
a:link { color: black; }
a:visited { color: #5b1508; }
a:hover { color: #ab2f11; }
img { border: 1px solid white; }
a img:hover { border: 1px solid #ab2f11; }
